#kanban {
    display: flex;
    justify-content: center;
    width: 1000px;
}

#kanban div {
    width: 300px;
}

/* .kanban-main div {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 20px;
    background-color: rgb(211, 223, 211);
    width: 100%;
} */